---
version: 2

jobs:
  build:
    machine:
      # https://circleci.com/developer/machine/image/ubuntu-2204
      image: ubuntu-2204:2022.10.2
    steps:
    - checkout
    - restore_cache:
        keys:
        - my_cache
    - run:
        name: Get test data
        command: |
          wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/utils/get_data_from_osf.sh
          bash get_data_from_osf.sh ds005-deriv-light
    - run:
        name: Build Docker image
        command: |
          wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/build_docker.sh
          bash build_docker.sh
    - save_cache:
        key: my_cache
        paths:
        - ~/docker
        - ~/data
    - persist_to_workspace:
        root: /home/circleci
        paths:
        - data/
        - docker/image.tar

  test:
    machine:
      image: ubuntu-2204:2022.10.2
    steps:
    - attach_workspace:
        at: /tmp/workspace
    - run:
        command: |
          docker load -i /tmp/workspace/docker/image.tar

    - run: mkdir -p ${HOME}/outputs

    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds005-deriv-light:/bids_dataset \
            -v ${HOME}/outputs:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
                /bids_dataset \
                /outputs \
                participant \
                --participant_label 01
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds005-deriv-light:/bids_dataset \
            -v ${HOME}/outputs:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
                /bids_dataset \
                /outputs \
                participant \
                --participant_label 02
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds005-deriv-light:/bids_dataset \
            -v ${HOME}/outputs:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
                /bids_dataset \
                /outputs \
                participant \
                --participant_label 03
        no_output_timeout: 6h
    - run:
        command: |
          docker run -ti --rm --read-only \
            -v /tmp/workspace/data/ds005-deriv-light:/bids_dataset \
            -v ${HOME}/outputs:/outputs \
              bids/${CIRCLE_PROJECT_REPONAME,,} \
                /bids_dataset \
                /outputs \
                group
        no_output_timeout: 6h

    - save_cache:
        key: my_cache
        paths:
        - ~/docker
        - ~/data

  deploy:
    machine:
      image: ubuntu-2204:2022.10.2
    steps:
    - attach_workspace:
        at: /tmp/workspace
    - run: docker load -i /tmp/workspace/docker/image.tar
    - run:
        name: push to dockerhub
        command: |
          wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/push_docker.sh
          bash push_docker.sh

workflows:
  version: 2
  build-test-deploy:
    jobs:
    - build:
        filters:
          branches:
            only: master
    - test:
        requires:
        - build
    - deploy:
        requires:
        - test

# VS Code Extension Version: 1.5.1
